h1 {
    background-color: black;
    color: aqua;
}

span {
    color: aliceblue;
}

h2 {
    background-color: blueviolet;
    text-align: center;
    color: white;
}

h3 {
    background-color: deeppink;
    text-align: end;
    text-decoration: underline;
    color: black;
}