.container {
    padding: 0px;
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.box1 {
    /* background-color: aqua; */
    width: 100px;
    height: 80px;
    border: 2px solid black;
    border-radius: 15%;

}

.box {
    text-align: center;
}