.col {

    background-color: aqua;
    margin: 20px;
    flex: 1;
    padding: 20px;

}

.col-2 {
    background-color: aqua;
    margin: 20px;
    padding: 20px;



    flex: 2;

}

.col-3 {
    background-color: aqua;
    flex: 3;
    margin: 20px;
    padding: 20px;


}

.row {
    display: flex;
}