.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    margin: 0 auto;
}
.row1 {
    background-color: #5ba6e4;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row2 {
    background-color: #a05abb;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row3 {
    background-color: #ffb4a1;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
   width: 120px;
   height: 120px;
}